<%page expression_filter="h"/>
<%page args='user, course_enrollments'/>
<%!
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from organizations.models import OrganizationInstitution
from common.djangoapps.student.models import AnonymousUserId
%>

<%namespace name='static' file='../static_content.html'/>

<!-- Ensure that program surveys are only shown to learners who are enrolled in courses from CA organization -->
<% show_program_survey = False
course_institution = ''%>
% for enrollment in course_enrollments:
<% course_overview = CourseOverview.get_from_id(enrollment.course_id) %>
% if course_overview.org == "CA":
<% show_program_survey = True %>
    % if course_overview.course_institution:
    <% course_institution = course_overview.course_institution %>
    <% break %>
    % endif
% endif
% endfor

<!-- If program surveys are being shown to learner, start building strings to pass organization and institution information to qualtrics -->
% if show_program_survey:
<% course_institution = OrganizationInstitution.get_by_shortname(short_name=course_overview.course_institution)
%>
    % if user.is_anonymous:
    <% anonymous_user_id = user.id %>
    % else:
    <% 
    anonymous_user_id = AnonymousUserId.objects.filter(user=user).order_by('-id')
    anonymous_user_id = anonymous_user_id[0].anonymous_user_id 
    %>
    % endif
<% platform_anonymous_user_id_string = "platform_anonymous_user_id=" + anonymous_user_id
username_string = "platform_username=" + user.username
user_email_string = "platform_email=" + user.email
org_institution_name_string = "org_institution_name=" + course_institution.name
org_institution_shortname_string = "org_institution_short_name=" + course_institution.short_name
org_institution_city_string = "org_institution_city=" + course_institution.city
org_institution_state_string = "org_institution_state=" + course_institution.state
org_institution_zipcode_string = "org_institution_zipcode=" + course_institution.zipcode
%>

<div class="program-survey">
    <h2 class="program-survey-header">
        Aviation Mechanic General
    </h2>
    <div class="program-details">
        <p>This program of courses equips learners for entry into the FAA mechanic pathway. Upon completion, they gain foundational knowledge in mathematics, aircraft drawings, weight and balance, aircraft materials, processes and tools, physics, electricity, inspection, ground operations, and FAA regulations governing maintenance technician certification and work.</p>
    </div>

    <div class="survey-details-wrapper">
        <div class="survey-wrapper">
            <h2 class="survey-title">Pre-Program Survey</h2>
            <hr>
            <p class="survey-instructions">Answer this survey prior to taking any course content</p>
            <p class="survey-details">This will help us understand your career awareness and interest, gauge where you are with FAA General maintenance knowledge and skill confidence, career plans, and demographic information.</p>
            <a class="provide-feedback-btn" href="https://clemson.qualtrics.com/jfe/form/SV_3C2RY5TuB0uIZ70?${username_string}&${user_email_string}&${platform_anonymous_user_id_string}&${org_institution_name_string}&${org_institution_shortname_string}&${org_institution_city_string}&${org_institution_state_string}&${org_institution_zipcode_string}">
                Provide Feedback</a>
        </div>

        <div class="survey-wrapper">
            <h2 class="survey-title">Post-Program Survey</h2>
            <hr>
            <p class="survey-instructions">Answer this survey after you have completed most of this program's courses</p>
            <p class="survey-details">This will help us understand your completion of FAA General maintenance program, career awareness and interest, kwowledge and skill confidence, and demographic information.</p>
            <a class="provide-feedback-btn" href="https://clemson.qualtrics.com/jfe/form/SV_1Al5SpJgWVv6bFI?${username_string}&${user_email_string}&${platform_anonymous_user_id_string}&${org_institution_name_string}&${org_institution_shortname_string}&${org_institution_city_string}&${org_institution_state_string}&${org_institution_zipcode_string}">
            Provide Feedback</a>
        </div>
    </div>
</div>

% endif