<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%
# set doc language direction
from django.utils.translation import get_language_bidi
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import Text, HTML
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string

%>

<!DOCTYPE html>
<html class="no-js" lang="${LANGUAGE_CODE}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>${document_title}</title>
</head>

<body class="layout-bigcommerce-sca">

    <div class="wrapper-view">

        <h1>EducateWorkforce Single-Click App Configuration</h1>

        <hr class="divider sr-only">

        ${self.body()}

        <hr class="divider sr-only">
  
        <h3>Store</h3>
        <pre>${store }</pre>

        <hr/>
        <h3>Store Admin User</h3>
        <pre>${admin_user }</pre>

        <hr class="divider sr-only">

        <h3>Store Customers</h3>
        <ul>
        % for customer in customers:
            <li>
                <pre>Id: ${customer.id }</pre>
                <pre>Full Name: ${customer.first_name + " " + customer.last_name }</pre>
                <pre>Email: ${customer.email }</pre>
            </li>
        % endfor
        </ul>
    </div>
</body>
</html>
