## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json

from django.conf import settings
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs

from openedx.core.djangolib.markup import strip_all_tags_but_br
%>


<div class="course-badges courseware-results-wrapper" id="main" tabindex="-1" style="width: 100%;">
    <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
    <div id="error-message" aria-live="polite"></div>
    <div class="courseware-results" data-course-id="${course.id}" data-lang-code="${language_preference}">

        <%static:badgesfrontend entry="progress">
            {
                "lang": "${language_preference | n, strip_all_tags_but_br}",
                "course": {
                    "id": "${course.id | n, strip_all_tags_but_br}",
                    "name": "${course.display_name_with_default | n, strip_all_tags_but_br}",
                    "url_name": "${course.location.name | n, strip_all_tags_but_br}",
                    "org": "${course.location.org | n, strip_all_tags_but_br}",
                    "num": "${course.location.course | n, strip_all_tags_but_br}",
                    "display_course_number": "${course.display_coursenumber | n, strip_all_tags_but_br}",
                    "revision": "${course.location.revision | n, strip_all_tags_but_br}"
                },
                "user": {
                    "username": "${user.username | n, strip_all_tags_but_br}",
                    "email": "${user.email | n, strip_all_tags_but_br}",
                    "is_staff": "${user.is_staff | n, strip_all_tags_but_br}",
                    "is_superuser": "${user.is_superuser | n, strip_all_tags_but_br}",
                    "is_authenticated": "${user.is_authenticated | n, strip_all_tags_but_br}"
                }
            }
        </%static:badgesfrontend>

    </div>
</div>
